# All of these libraries will be installed inside the container image used
# used to train the model on AWS Sagemaker

# Neccessary imports
boto3
sagemaker

# Example imports for the template
tensorflow
smdebug